/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}



body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #333;
  background: #777;
  width: 960px
}

header {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 50px;
  color: #333;
  background: #ebebeb;
  
}


#nav {
    float: left;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 50px;
    width: 79%;
    color: #333;
    background: #ebebeb;
  }
  section {
    padding: 20px;
    margin-bottom: 50px;
    margin-left: -20px;
    margin-top: -10px;
    color: #777;
    background: #ebebeb;
   

    
 
  }
#left {
  float: left;
  width: 495px;
  color: #777;
  background: #ebebeb;
  padding: 10px;
}

#right {

  float: right;
  width: 35%;
  color: #fff;
  height: 290px;
  color: #777;
  background: #ebebeb;
  padding-right: 50px;
  padding-left: 40px;
  border-right: 50px;
  border-left: 50px;
  margin-left: -50px;
  margin-right: -20px;
  
}
 

 
#full {
  width: 79%;
  height: 350px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 50px;
  background: #777;
  overflow: auto;
  clear: both;
   

}

#article {
  padding: 10px;
  margin-top: 20px;
  color: #ebebeb;
  background: #777;
}

#h {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #777;
    background: #ebebeb;
  }
  #p {
    padding: 15px;
    margin-top: 20px;
    color: #777;
    background: #ebebeb;
  }
 

footer {
  padding: 20px;
  margin-bottom: 0px;
  margin-top: -60px;
  margin-left: 150px;
  margin-right: 50px;
  clear: both;
  color: #777;
  background: #ebebeb
   
}
